$accu-energy-primary: mat-palette($mat-cyan, 700, 50, 900);
$accu-energy-accent: mat-palette($mat-orange, 600, 100, 900);
$accu-energy-warn: mat-palette($mat-red, 500, A200, 800);

$accu-energy-theme: mat-light-theme($accu-energy-primary, $accu-energy-accent, $accu-energy-warn);