<div class="p-3">
    <div class="theme-container">
        <a (click)="openDialog()" mat-raised-button color="primary" fxShow="false" fxShow.gt-xs
            class="uppercase">Add a Support Object</a>
    </div>
</div>

<mat-form-field appearance="outline" class="w-100">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Items" autocomplete="off">
</mat-form-field>

<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="w-100">
        <!-- <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let data">
                <div *ngIf="data.images">
                    <img [src]="data.images[0].img" [style.width.px]="100" class="d-block">
                </div>
            </td>
        </ng-container> -->

        <!-- Album Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let data">{{data.name}}</td>
        </ng-container>

        <!-- Album Description -->
        <!-- <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let data">{{data.description}}</td>
        </ng-container> -->

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let data">
                <!-- <a [routerLink]="['/account/susi-images-edit/', data.id]" mat-icon-button color="primary"
                    matTooltip="Edit Album">
                    <mat-icon>edit</mat-icon>
                </a> -->
                <button mat-icon-button color="warn" (click)="remove(data)" matTooltip="Remove">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="brochures(data)" matTooltip="Brochures">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="caseStudies(data)" matTooltip="Case Studies">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <!-- <button mat-icon-button color="primary" (click)="pictures(data)" matTooltip="Pictures">
                    <mat-icon>photo_library</mat-icon>
                </button> -->
                <!-- <button mat-icon-button color="primary" (click)="customers(data)" matTooltip="Customers">
                    <mat-icon>business</mat-icon>
                </button> -->
                <button mat-icon-button color="primary" (click)="installationGuides(data)" matTooltip="Installation Guides">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="selectionGuides(data)" matTooltip="Selection Guides">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="slideShows(data)" matTooltip="Slide Shows">
                    <mat-icon>slideshow</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="threeSixtyViews(data)" matTooltip="Three Sicty Views">
                    <mat-icon>3d_rotation</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="userDrawings(data)" matTooltip="User Drawings">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="videos(data)" matTooltip="Videos">
                    <mat-icon>videocam</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="wiringDiagrams(data)" matTooltip="Wiring Diagrams">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <!-- <button mat-icon-button color="primary" (click)="remove(property)" matTooltip="Movies" class="remove">
                    <mat-icon>movie</mat-icon>
                </button> -->
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let data; columns: displayedColumns;">
        </tr>
    </table>
    <p *ngIf="dataSource?.data.length === 0" class="py-5 mb-0 text-center">No data available</p>
</div>
<!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
