<div class="section default">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Benefits</h1>

            <mat-card class="p-0" fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-md="50" class="p-3">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <div class="cardInner">
                                <div [style.grid-area]="'side'">
                                    <mat-icon color="primary" class="mat-icon-xlg">verified_user</mat-icon>
                                </div>
                                <div [style.grid-area]="'content'">
                                    <h2 class="capitalize fw-600 my-2">Trusted Quality</h2>
                                    <p>SUSI Adapters - Industry Leader in Electric Meter Installation Solutions</p>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <div class="cardInner">
                                <div [style.grid-area]="'side'">
                                    <mat-icon color="primary" class="mat-icon-xlg">monetization_on</mat-icon>
                                </div>
                                <div [style.grid-area]="'content'">
                                    <h2 class="capitalize fw-600 my-2">save money</h2>
                                    <p>Cost-effective Solutions for Upgrading Existing Meters or New Installations</p>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <div class="cardInner">
                                <div [style.grid-area]="'side'">
                                    <mat-icon color="primary" class="mat-icon-xlg">alarm</mat-icon>
                                </div>
                                <div [style.grid-area]="'content'">
                                    <h2 class="capitalize fw-600 my-2">install in minutes</h2>
                                    <p>Socket or Panel meters install in minutes NOT hours with SUSI patented Adapters
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <div class="cardInner">
                                <div [style.grid-area]="'side'">
                                    <mat-icon color="primary" class="mat-icon-xlg">thumb_up</mat-icon>
                                </div>
                                <div [style.grid-area]="'content'">
                                    <h2 class="capitalize fw-600 my-2">easy to use</h2>
                                    <p>No Power Outage Needed, No Re-wiring, No Hassel</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50" fxShow="false" fxShow.gt-md>
                    <iframe width="640" height="480"
                        src="https://www.youtube.com/embed/aTIQDErrJ8o?autoplay=1&amp;loop=1&amp;mute=1&amp;showinfo=0&amp;rel=0&amp;playlist=aTIQDErrJ8o"
                        frameborder="0"
                        allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </mat-card>

        </div>
    </div>
</div>