<mat-accordion [formGroup]="submitForm" class="edit-partner">

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>    
    <mat-expansion-panel-header>
      <mat-panel-title>Partner Information</mat-panel-title>
    </mat-expansion-panel-header>
    <form formGroupName="basic" fxLayout="row wrap">

      <div fxFlex="100" class="p-3">
        <h1 class="fw-500 text-center">{{ partner.id }}</h1>
      </div>

      <div fxFlex="100" class="p-3">
        <img [src]="partner.logo" [alt]="partner.id" width=270>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Theme</mat-label> 
            <mat-select placeholder="Select a Theme" formControlName="theme" required [(ngModel)]="partner.theme">
                <mat-option *ngFor="let theme of themes" [value]="theme.id">
                    {{theme.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="submitForm.get('basic')['controls'].theme.errors?.required">Theme Type is required</mat-error>                               
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter Partner Name" formControlName="name" autocomplete="off" [(ngModel)]="partner.name"> 
        </mat-form-field>
      </div> 

      <div fxFlex="100" class="mb-2">
        <p class="uppercase m-2 fw-500">Features</p>
        <div class="p-2">
          <mat-checkbox formControlName="partnerBar" [(ngModel)]="partner.partnerBar">Partner Bar</mat-checkbox>
        </div>
      </div>

      <div fxFlex="100" class="px-2">
        <input-file placeholder="Logo (or link to image)" formControlName="logo" fileLimit="1" fileAccept="image/*" [(ngModel)]="logoFile"
          [linkEnabled]="true"></input-file>
      </div>
      

      <div fxFlex="100" class="mt-3 p-2" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" fxLayout="row" fxLayoutAlign="center center"
          (click)="onSubmitForm('basic')" type="submit">
          <span class="mx-1 uppercase">Submit</span>
          <!-- <mat-icon>navigate_next</mat-icon> -->
        </button>
      </div>

    </form>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="step === 4" fxLayout="row" fxLayoutAlign="center center" class="pt-3">
  <a routerLink="/account/susi-partners-list" mat-raised-button color="accent">Return to my partners</a>
</div>