<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">About SUSI Adapters, Inc.</h1>
            <div class="px-3">
                <div class="theme-container">
                    <mat-card class="main-content-header mb-5">
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="20" class="p-3">
                                <img src="assets/images/susi/aboutUs/SWAAF9.jpg" alt="USPTO" width="150" height="150">
                            </div>
                            <div fxFlex="100" fxFlex.gt-sm="80" class="p-3">
                                <p class="px-3">
                                    Founded in 1995 by engineer and inventor Chris Matthews, SUSI Adapters, Inc. changed
                                    the
                                    way electric meters were installed by inventing and developing the Flush Mount
                                    socket
                                    adapters and retrofit adapters for the electric meter industry. That transformed
                                    meter
                                    replacements from matching the old existing meter to, “Any meter for any panel with
                                    SUSI
                                    Adapters”, which created tremendous flexibility (in vendor, cost and features) for
                                    the
                                    end user. He asked the simple question “What do you have and what do you want?” then
                                    figured out how to make that happen.
                                </p>
                                <p class="px-3">
                                    Over the last 25 years, SUSI Adapters has grown the business with partnerships
                                    including
                                    15 meter manufacturers. It’s a win for SUSI, a win for the partner and a loss for
                                    the
                                    companies that don’t join us. This business philosophy came from his days playing
                                    Monopoly where he coined the phrase “Win-Win-Lose”.
                                </p>
                                <p class="px-3">
                                    Now SUSI Adapters has 10 series of products, 100’s of specific products and 1000’s
                                    of
                                    installed products at Utility, industrial and commercial facilities in the USA and
                                    around the world.
                                </p>
                                <p class="px-3">
                                    We now have manufacturing facilities in Georgia and Texas.
                                </p>
                            </div>
                        </div>
                        <div fxLayout="row wrap">
                            <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <img src="assets/images/logos/logo.png" alt="SUSI" width="45" height="50">
                                    <h2 class="capitalize fw-600 mx-2">Company Timeline</h2>
                                </div>
                                <div class="p-3">
                                    <ul>
                                        <li>
                                            1995 – Company Formation and Establishment of Metering Services
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            1996 – First Products Marketed
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2009 – Moved into New Facility, Doubling Size of Existing Production Space
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2012 – Changed Name to SUSI Adapters Inc., Aligning the Company Moniker to
                                            Current Products
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2019 – Opened a 2nd Facility near Dallas, Texas
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2020 – Moved Georgia Headquarters to Norcross Business Park to improve
                                            capability
                                            and efficiency
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div fxFlex="100" fxFlex.gt-sm="50" class="p-3">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    <img src="assets/images/susi/aboutUs/uspto.png" alt="USPTO" width="50" height="50">
                                    <h2 class="capitalize fw-600 mx-2">Patent Development</h2>
                                </div>
                                <div class="p-3">
                                    <ul>
                                        <li>
                                            2000 – Flush Mount Panel Adapter
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2001 – Surface Mount Panel Adapter
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2002 – Conversion Adapter Utilizing Switchboard Case with Socket Mount Meter
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2002 - Surface Mount Panel Adapter for Socket Mount Electricity Meter
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2006 – Swocket Panel Meter
                                        </li>
                                    </ul>
                                    <ul>
                                        <li>
                                            2007 – Swocket Panel Adapter
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<app-susi-get-in-touch></app-susi-get-in-touch>