<div class="section default">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Easy To Install</h1>            

            <mat-card class="p-0" fxLayout="row wrap"> 
                <div fxFlex="100" fxFlex.gt-md="50" class="p-3">            
                   <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">monetization_on</mat-icon>
                            <h2 class="capitalize fw-600 my-2">save money</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">alarm</mat-icon>
                            <h2 class="capitalize fw-600 my-2">save time</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">thumb_up</mat-icon>
                            <h2 class="capitalize fw-600 my-2">simple to install</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">check_circle</mat-icon>
                            <h2 class="capitalize fw-600 my-2">swap in minutes</h2>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae dolor magnam, facilis voluptas quia excepturi provident cupiditate.</p>
                        </div>
                   </div>                     
                </div> 
                <div fxFlex="100" fxFlex.gt-md="50" fxShow="false" fxShow.gt-md>                    
                    <!-- <img src="assets/images/others/susi-bank-meters.jpg" alt="mission" class="mw-100 d-block">                 -->
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/uK_O9dV75-8?rel=0" frameborder="0" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>            
            </mat-card>
                
        </div>
    </div>   
</div>