$font-family: 'Montserrat';
// $theme-max-width: 1300px;
$theme-max-width: 100%;
$top-toolbar-height: 36px;
$main-toolbar-height: 72px;
$user-menu-width: 220px;
$header-image-min-height: 320px;
// $header-carousel-height: 580px;
$header-carousel-height: 680px;
$main-content-header-offset-to-top: -84px;

$main-sidenav-width: 300px;
$search-sidenav-width: 288px;