<div class="theme-container">
  <h1 class="section-title">Add Images</h1>
</div>

<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

  <h3>{{ albumName }}</h3>
  <p>Drag and Drop a File</p>
  <div class="file">
    <label class="file-label">

      <input class="file-input" type="file" (change)="onDrop($event.target.files)">

      <span class="file-cta">
        <span class="file-icon">
          <i class="fa fa-upload"></i>
        </span>
        <span class="file-label">
          or choose a file…
        </span>
      </span>
    </label>
  </div>
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let image of images" cdkDrag>
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
    <img [src]="image.extUrl" />
    {{image.fileName}}
    <button mat-icon-button color="warn" (click)="remove(image)" matTooltip="Delete Photo">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>


<h3>Uploads</h3>

<div *ngFor="let file of files">
  <!-- <app-susi-images-upload [albumId]="albumId" [file]="file"></app-susi-images-upload> -->
  <app-support-upload [supportId]="supportId" [supportCategory]="supportCategory" [imageIndex]="index" [file]="file">
  </app-support-upload>
</div>