<div fxHide.xs fxHide.sm fxLayout="row" fxLayoutAlign="center center" class="my-3">
    <mat-card class="p-1">
        <iframe src="https://www.google.com/maps/d/embed?mid=1sBQrq1jF9yknYKSggbZvsn3vFRFpGmi3&hl=en" width="640" height="480"></iframe>
    </mat-card>
</div>

<div fxHide.xl fxHide.lg fxHide.md fxLayout="row" fxLayoutAlign="center center" class="my-3">
    <mat-card class="p-1">
        <iframe src="https://www.google.com/maps/d/embed?mid=1sBQrq1jF9yknYKSggbZvsn3vFRFpGmi3&hl=en" width="320" height="240"></iframe>
    </mat-card>
</div>
